@font-face {
    font-family: Roboto;
    src: url(/openworx_custom_menubar/static/src/font/Roboto-Regular.ttf);
}

body {
    color: #666666;
    font-family: Roboto;
    font-size: 13px;
    line-height: 1.42857;
}

.openerp {
    color: #4c4c4c;
    font-family: "Roboto",Helvetica,Verdana,Arial,sans-serif;
    font-size: 13px;
}

#oe_main_menu_navbar {
    background: #A24689 none repeat scroll 0 0 !important;
    border-radius: 0;
    box-shadow: 0 0 8px #666666;
    z-index: 1001;
}


#oe_main_menu_navbar li a, #oe_main_menu_navbar li button {
    font-size: 14px !important;
    margin-top: 0 !important;
    padding: 11px 10px !important;
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: #A24689;
}


.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #7E376B;
    color: #fff;
}

.navbar-inner
{
	background-color: #7E376B;
	background-image: none;
	color: #ffffff;
}	


.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
	background-color: #7E376B;
	color: #ffffff;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {

	background-color: #7E376B;
	color: #ffffff;
}

.navbar {
    border: 1px solid transparent;
    margin-bottom: 0;
    min-height: 44px !important;
    position: relative;
}